body{
    background-image:url(188055359-lobo-uivante-em-pé-na-colina-com-paisagem-panorâmica-de-montanhas-floresta-e-belo-pôr-do-sol.jpg) ;
   background-repeat:no-repeat;
   background-size: cover;
    background-position: center ;
    height: 60vh;
}

h1{
    margin-top: 250px;
}
#formulario{
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3)
}
#formulario input[type="text"],
#formulario input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
#formulario button {
    width: 100%;
    padding: 10px;
    background-color: rgb(120, 0, 120);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}